# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Leonard Fischer
	email = leonard.fischer@fau.de
	name = --replace-all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
